<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Ionic Router Swipe POC
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <ion-button [routerLink]="['/routing-swipe/1']">Routing Swipe</ion-button>
        <ion-button [routerLink]="['/slides-swipe']">Slides Swipe</ion-button>
    </div>
</ion-content>
